.row
  .span3
    - render_partial( 'layouts/left' )

  .span9.black
    .top.frames
      = image_tag('grad_ball/top.jpeg')

    .middle.content
      - render_partial( 'posts/page' )

    .bottom.frames
      = image_tag('grad_ball/bottom.jpeg')