.row
  .span12.transparent
    .row
      .span7.offset3.details
        .box.clearfix
          = image_tag( 'tmp/Oday.jpeg' )
          .content
            %dl.dl-horizontal
              %dt Where:
              %dd Bingemens Conference Centre
              
              %dt When:
              %dd Spetember 9th, 2012, 9AM - 4PM
              
              %dt Cost:
              %dd $40 General Admission
              
              %dt Attire:
              %dd Business Casual
      
.row
  .span3
    - render_partial( 'extras/sidenav' )
    
  .span7.event
    %h3 Welcome to this event
    
    %p
      The School of Business and Economics  Students’ Society (SBESS) focuses on establishing innovative programs and instilling a passion for excellence among all its students. Every year the school is proud to provide incoming first year students with an  opportunity to participate in SBE Orientation Day (O-Day) to help manage the challenges they will face during their undergraduate career at Laurier. O-Day is designed to provide information to you about what to expect the first day of class, familiarize you with the faceilities and services available at Laurier, as well as introduce you to make connections with many of the school’s dynamic faculty members and corporate sponsors.
      
    = image_tag( 'tmp/bio_pic.png', array( 'class' => 'pull-left' ) )
    %p
      Lunch
      
      %br
      %br
      
      The luncheon portion of the day will take place off campus at the Bingemans Conference Centre. During this time we are honoured to have Robert Herjavec as our keynote speaker, who is a former Dragon from CBC’s Dragon’s Den.
      
      %br
      %br
      
      Hosted By SBESS
    
  .span2.responsive-header
    %h3 Thank You to our Sponsors