.row
  .span12.transparent
    .row
      .span7.offset3.details
        .box.clearfix
          = image_tag( 'SBESSLogo2012_tile.png' )
          .content
            %dl.dl-horizontal
              %dt Where:
              %dd= "3rd Floor of the Fred Nichols' Campus Centre, in the The Turret"

              %dt When:
              %dd November 10, 2012
              
              %dt Cost:
              %dd $15 General Admission
              
              %dt Attire:
              %dd Business Casual
      
.row
  .span3
    - render_partial( 'extras/sidenav' )
    
  .span7.event
    %h3 Fidelity Investments Clubs Roundtable
    
    %p
      Clubs’ Roundtable is hosted annually by the School of Business and Economics Students’ Society to promote collaboration between clubs and foster innovation in the programming they provide for students. This one day conference brings together executives from clubs across Wilfrid Laurier University, and starting this year, the Province of Ontario, to network with and learn from business leaders, share best practices by engaging in roundtable discussion with fellow clubs, and engage in some friendly competition to put their abilities to the test.
      
    %p
      Club executives that attend can expect to gain: relevant knowledge from targeted sessions delivered by industry professionals, sharing best practices and strategies with fellow clubs that can be applied to improve performance, networking and developing a portfolio of external contacts opening up new opportunities, and much more! 
      
    %p
      This year, SBESS is proud to welcome the following presenters:

    %h4
      %i.icon-star.icon-white(style = 'margin-top: 5px; margin-right: 6px') 
      Fidelity Investments
      
    %h4
      %i.icon-star.icon-white(style = 'margin-top: 5px; margin-right: 6px')  
      Insurance Institute of Canada - Career Development
    %ul
      %strong Trevor Buttrum
      %div The How’s and Why’s of Meaningful Programming for Members
      
    %h4
      %i.icon-star.icon-white(style = 'margin-top: 5px; margin-right: 6px')  
      Quarry Integrated Communications
    %ul  
      %strong Alan Quarry, Chairman & CEO
    
    %hr
    
    %h3 Event Details
    
    %table.dt
      %tbody
        %tr
          %td Conference Date:
          %td November 10, 2012
        %tr
          %td Registration:
          %td 
            8:30 AM in the Turret (3rd Floor Fred Nichols’ Campus Centre)
            %br
            %br
            Wilfrid Laurier University
            %br
            75 University Avenue West
            %br
            Waterloo, ON    
    %br
    %p 
      Competition Winners Announcement and Closing Address:
      5:30 PM

    %p
      Delegate Ticket Price: $15 to be purchased
      = link_to( 'Buy Tickets Here', 'http://laurieractivities.universitytickets.com/user_pages/event.asp?id=171&cid=26', array( 'class' => 'btn btn-info btn-mini') )
          
    %hr
      
    %p
      %strong
        SBESS and the Clubs Roundtable Organizing Committee would like to thank its Corporate Partners, Presenters, and SBE Faculty for their continued support!
    
    .row-fluid    
      .span6
        %h3 
          Platinum:
          %br
          %small Fidelity Investments
        = image_tag( 'tmp/Fidelity.png', array( 'style' => 'max-width: 100%' ) )
      .span6  
        %h3
          Gold:
          %br 
          %small The Insurance Institute of Canada
        = image_tag( 'tmp/Insurance.png', array( 'style' => 'max-width: 100%' )  )
          
    %p
      %br
      Questions may be directed to the SBESS Clubs Team: 
      = link_to( 'clubs@sbess.ca', 'mailto:clubs@sbess.ca' )
      %br
      
        
    
  .span2.responsive-header
    %h3 Thank You to our Sponsors
    
    %p Fidelity Investments
    = image_tag( 'tmp/Fidelity.png', array( 'style' => 'max-width: 100%' ) )
    
    %br
    %br
    %p The Insurance Institute of Canada
    = image_tag( 'tmp/Insurance.png', array( 'style' => 'max-width: 100%' )  )
    
    %br
    %br
    
.row
  .span7.offset3.round-table
    %form.form-horizontal(method = 'POST' enctype = 'multipart/form-data')
      %input(type = 'hidden' name = '_target' value = 'resume_form')
      %legend Resume Submission Form
      
      %br
      %br
      
      = form_text_field( 'First Name', 'first_name', 'Mike' )
      = form_text_field( 'Last Name', 'last_name', 'Ross' )
      = form_text_field( 'Email', 'the_email', 'mike.ross@ph.com' )
      = form_text_field( 'University', 'university', 'Harvard' )
      = form_text_field( 'Club', 'the_club', 'Law Society of Harvard' )
      = form_text_field( 'Position', 'position', 'President' )
      
      - $lunch[] = array( 'value'=>'0', 'label'=>'Vegitarian Lasgna' )
      - $lunch[] = array( 'value'=>'1', 'label'=>'Meat Lasgna')  
      = form_radio_field( 'Lunch Option', 'lunch', $lunch )
        
      .control-group
        %label.control-label(for = 'sessions') Sessions
        .controls
          - $sessions[] = '- Select and Option -'
          - $sessions[] = "Fidelity Investments"
          - $sessions[] = "Career Development – The How’s and Why’s of Meaningful Programming for Members"
          - $sessions[] = "Alan Quarry"
          - $sessions[] = "Things I’ve learned along the way: What really matters when managing People, Processes & Products"           
          
          %label Session 1
          %select(name = 'session1')
            - foreach( $sessions as $key=>$value )
              %option(value = "#{$key}")= $value
           
          %label Session 2     
          %select(name = 'session2')
            - foreach( $sessions as $key=>$value )
              %option(value = "#{$key}")= $value
        
        
      .control-group
        %label.control-label(for = 'resume') Resume Upload
        .controls
          .alert.alert-error.hide
            FILE MUST BE A PDF
          %input#program(type = 'file' name = 'resume_file')
          .alert.alert-block
            %h4 Heads Up!
            Must be in .pdf format, other formats ( like .doc or .docx ) will not work. Please name the file something meaningful like Your-Name_Resume.pdf and avoid generic names such resume.pdf. The maximum file size is 5.0 MB.
              
      .control-group
        %label.control-label(for = 'consent') Aknowledgment
        .controls
          %label Following the conference, attendees will be emailed a database including the name, home university, club, position, and email address of their fellow attendees. 
            %strong Do you consent to SBESS providing Clubs' Roundtable participants with this information?
            
          %br
          %label(for = 'consent')
            %input(type = 'checkbox' name = 'consent') I agree to having my info distributed
        
            
      
      .controls
        .alert.alert-error.hide#error
        .alert.alert-success.hide#success
          
        %button.btn.btn-primary(type = 'submit' autocomplete = 'off') Submit Resume
        
        .alert.alert-error.hide#message
          Looks like there's an error in the application, you'll have to fix that before we can accept the form.
        
      %br
      
      
      
      
      