.row
  .span12
    %h2 Awwww snap! 404 :(
    .content
      %p 
        We hate these errors as much as the next guy,
        if you think there is something seriously wrong here 
        please let us know by sending an email to
        = link_to( 'admin@sbess.ca', mailto('admin@sbess.ca', '404 Error - ' . $_SERVER['REQUEST_URI'] ) )
        and we will be getting right on that.
          
      %p Thanks for your help