.row
  .span12.transparent
    .row
      .span7.offset3.details
        .box.clearfix
          - $image = get_field( 'event_icon' )
          = image_tag( $image['sizes']['logo'] )
          .content
            %dl.dl-horizontal
              %dt Where:
              %dd= get_field( 'event_where' )
              
              %dt When:
              - $date = DateTime::createFromFormat( 'Ymd', get_field( 'event_date') )
              %dd= $date->format('F jS, Y') . get_field( 'event_time' )
              - if ( get_field( 'event_cost' ) )
                %dt Cost:
                %dd= get_field( 'event_cost' )
              
              - if ( get_field( 'event_attire' ) )
                %dt Attire:
                %dd= get_field( 'event_attire' )

              - if ( get_field( 'custom_value' ) )
                %dt= get_field( 'custom_label' )
                %dd= get_field( 'custom_value' )
      
.row
  .span3
    - render_partial( 'extras/sidenav' )
    
  .span7.event
    - render_partial( 'posts/page' )
    
  .span2.responsive-header.sponsors
    %h3 Thank You to our Sponsors
    - $sponsors = get_field( 'event_sponsors' )
    - if ( $sponsors )
      - foreach ( $sponsors as $key=>$sponsor )
        = image_tag( $sponsor['sizes']['small'] )