.row
  .span2
    - render_partial('layouts/left')
  .span10
    - render_partial('extras/cal')
    .booking
      %form(method = 'POST')
        %legend Booking Requests
        .control-group
          %label.control-label Name
          .controls
            %input(type = 'text' name = 'full_name' placeholder = 'Harry Potter')
        .control-group
          %label.control-label Club
          .controls
            %input(type = 'text' name = 'club' placeholder = 'SBESS')
        .control-group
          %label.control-label Date
          .controls
            %input.date(type = 'text' name = 'date')
        .control-group
          %label.control-label Time
          .controls
            %input.time(type = 'text' name = 'time')
        .control-group
          %label.control-label Reason
          .controls
            %textarea(rows = '3' name = 'reason' placeholder = 'Interviews for the marketing team')