.row
  .span3
    - render_partial('extras/sidenav')
    - if ( get_field( 'hiring_enabled' ) )   
      %ul.nav.nav-list.jobs
        %li.nav-header List of Positions
        - if ( get_field( 'jobs' ) )
          - while( the_repeater_field( 'jobs' ) )
            %li= link_to( get_sub_field( 'job_title' ), '#' . str_replace( ' ', '-', get_sub_field( 'job_title' ) ) ) 
          
  .span9
    .static
      - render_partial( 'extras/breadcrumb' )
      - render_partial( 'posts/page' )
    - if ( get_field( 'hiring_enabled' ) )
      - render_partial( 'extras/job_board' )
      