.row
  .span2
    - render_partial( 'extras/sidenav' )
    
  .span10
    %h2 Conferences and Competitions Calendar
    
    - render_partial( 'iframes/cals/conferences_compeitions' )
    
    .subsidy
      - render_partial( 'posts/page' )
      %a.btn.btn-primary(href = "#{get_field('subsidy_form')}" style = 'margin: 10px 0 12px 0' )Click here for the subsidy form
      // = render_partial( 'iframes/subsidy_form' )