.row
  .span9
    .content
      - render_partial('posts/page')
      .photos
        %ul.thumbnails
          - $photos = get_field('partners_logos')
          - if ( $photos )
            - foreach( $photos as $photo )
              %li.span2
                %a.thumbnail(href = "#{$photo['alt']}")
                  %img(src = "#{$photo['sizes']['small']}")
  .span3
    %h4 Exciting new content coming soon