.row
  .span8
    - render_partial('extras/breadcrumb')
    - render_partial('posts/page')
    .events
      - $first = true
      - if ( get_field( 'events', 'option' ) )
        - while( the_repeater_field( 'events', 'options' ) )
          - $the_link = ( get_sub_field('event_external_link') ? get_sub_field('event_external_link') : get_sub_field('event_page') )
          - if ( $first )
            - $first = false
          - else
            %hr
          .event(id = "#{str_replace( ' ', '-', get_sub_field( 'event_name' ) )}")
            %dl.dl-horizontal
              %dt Event Name
              - if ( get_sub_field('no_page') )
                %dd= get_sub_field('event_name')
              - else
                %dd= link_to( get_sub_field('event_name'), $the_link )
                
              %dt Location
              %dd= get_sub_field('event_location')

              %dt When
              %dd= get_sub_field('event_date') . ' at ' . get_sub_field('event_time')
              
              %dt Description
              %dd
                .well.well-small= get_sub_field('event_description')
                - if ( !get_sub_field('no_page') )
                  %p= link_to( 'More Info &raquo;', $the_link )
                

  .span4
    %h3 List of Events
    - if ( get_field( 'events', 'options' ) )
      %ul
        - while( the_repeater_field( 'events', 'option' ) )
          - $name = get_sub_field( 'event_name' )
          %li= link_to( $name, '#' . str_replace( ' ', '-', $name ) )