.row
  .span3
    - render_partial( 'layouts/left' )

  .span9
    - render_partial( 'posts/page' )

    .row-fluid
      - $left = true
      - if ( get_field('execs') )
        - while ( get_field( 'execs') )
          .span6
            .exec
              - $img = get_sub_field( 'exec_photo' )
              = image_tag( $img['sizes']['medium'] )
              .description= get_sub_field( 'exec_description' )