.row
  .span5
    - render_partial( 'posts/page' )
    
  .span7
    .feedback
      %form.form-horizontal(method = 'POST' enctype = 'multipart/form-data')
        %input(type = 'hidden' name = '_target' value = 'feedback_form')
        
        %legend Site Feedback Form
        %p
          = "All the fields here are complely optional ( save for feedback of course ) if you would like to leave your name and email we'll try our best to get back to you with some feedback of our own and even get a dialoge going."
        
        .control-group
          %label.control-label Name
          .controls
            %input(type = 'text' placeholder = 'Adam Smith' name = 'full_name')
        
        .control-group
          %label.control-label Email
          .controls
            %input(type = 'text' placeholder = 'adam.smith@gmail.com' name = 'the_email')
            
        .control-group
          %lavel.control-label Subject
          .controls
            %input(type = 'text' placeholder = 'Words of encouragement' name = 'the_subject' size = '255')
            
        .control-group
          %label.control-label Feedback
          .controls
            %textarea(placeholder = 'I love the new site, keep up the great work!' name = 'feedback' rows = '5')
            
        .control-group
          .controls
            %button.btn.btn-primary(type = 'submit') Send Feedback
            .alert.alert-success.hide#message
              Your feedback has been received, thank you for your help.
        
        