// Need a row for the Banner

.row
  .span12.transparent
    - render_partial('extras/banner')
    - render_partial('extras/hero_unit')
    
.row.responsive-header
  .span4
    %h4.headline Message from the President
    .messages
      .message.clearfix
        = image_tag('tmp/sarina.jpg')
        %p.content 
          - $args = array('numberposts' => 1)
          - $recent = wp_get_recent_posts($args)
          - $recent = $recent[0]
          = get_the_fucking_excerpt($recent["ID"])
        = link_to('Read More &raquo;', get_permalink($recent["ID"]), array('class' => 'corner'))

  .span4
    %h4.headline Looking to Get Involved?
    .messages
      .message.clearfix
        = image_tag( 'tmp/hiring.jpg' )
        %p.content
          Getting involved will help you develop skills and meet new people. Find a club that’s right for you!
        = link_to( 'Click here to get involved &raquo;', get_permalink( 172 ), array( 'class' => 'corner' ) )
        
  .span4
    %h4.headline Join SBESS
    .messages
      .message.clearfix
        = image_tag( 'tmp/SBESSHiring.jpg' )
        %p.content
          We’re hiring! See what positions are open, we look forward to your application!
        = link_to( 'Click here to apply &raquo;', get_permalink( 207 ), array( 'class' => 'corner' ) )
    