.row
  .span8
    .business-news
      .row-fluid
        .span12
          - render_partial( 'extras/breadcrumb' )
          .static-content= render_partial('posts/page')
          
      .row
        - $feeds['financial_post'] = fetch_feed( 'http://www.financialpost.com/16994.rss' )
        - $feeds['canadian_business'] = fetch_feed( 'http://www.canadianbusiness.com/rss/business.xml' )
        - $feeds['economist'] = fetch_feed( 'http://www.economist.com/rss/daily_news_and_views_rss.xml' )
        - $sides['left'] = $feeds
        
        - $feeds = array()
        
        - $feeds['cbc_news'] = fetch_feed( 'http://rss.cbc.ca/lineup/topstories.xml' )
        - $feeds['bbc_world'] = fetch_feed( 'http://newsrss.bbc.co.uk/rss/newsonline_world_edition/front_page/rss.xml' )
        - $sides['right'] = $feeds
        
        - foreach( $sides as $feeds )        
          .span4
            - foreach( $feeds as $feed )
              - if ( !is_wp_error( $feed ) )
                - $maxitems = $feed->get_item_quantity(5)
                - $feed_items = $feed->get_items(0, $maxitems)
              
              %h4= link_to( $feed->get_title(), $feed->get_permalink() )
              
              %ul
                - foreach ( $feed_items as $news )
                  %li= link_to( esc_html( $news->get_title() ), esc_url( $news->get_permalink() ) )
              
  
  .span4
    .blogs
      %h3 President's Blog
        = link_to( 'see the archives &raquo;', '/category/president-blog/' )
      
      - global $post
      - $the_posts = get_posts( array( 'numberposts' => 3, 'category' => get_category_id( 'President Blog' ) ) )
      
      - foreach ( $the_posts as $post )
        - setup_postdata( $post )
        - render_partial('posts/excerpt')
        
      %hr
      
      %h3 SBE Weekly
        = link_to( 'see the archives &raquo;', '/category/sbe-weekly/' )
      
      - global $post
      - $the_posts = get_posts( array( 'numberposts' => 5, 'category' => get_category_id( 'SBE Weekly'  ) ) )
      
      - foreach ( $the_posts as $post )
        - setup_postdata( $post )
        - render_partial('posts/excerpt')
        
      %hr
      
      %h3 Atrium Media Group
      %p
        The atrium feed isn't working, so until
        they sort their shit out this will say
        here instead.