.row
  .span2
    - render_partial( 'extras/sidenav' )
    
  .span10
    - render_partial( 'posts/page' )
    - render_partial( 'iframes/cals/office_booking' )
    
    .booking
      %form
        %legend Office Booking Form
        - render_partial( 'iframes/office_booking' )