.row
  .span12
    .content
      - render_partial('posts/page')
      .gallery
        %ul.thumbnails
          - if ( get_field('the_gallery') )
            - while ( the_repeater_field('the_gallery') )
              %li.span2
                .thumbnail
                  %ul.set
                    - $images = get_sub_field('album')
                    - foreach( $images as $key=>$image )
                      %li(class = "#{ ( $key ) ? 'hide' : 'first' }")
                        - $rel = str_replace( ' ', '_', get_sub_field('album_name') )
                        %a.fancybox(href = "#{$image['sizes']['big']}" rel = "#{$rel}")
                          = image_tag( $image['sizes']['thumbnail'], array( 'class' => 'img-polaroid') ) 
                  .responsive-header
                    %h3= get_sub_field('album_name')
    