%script(src = 'http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js')
%script(src = 'http://cdn.aloha-editor.org/latest/lib/require.js')
%script(src = 'http://cdn.aloha-editor.org/latest/lib/aloha.js' data-aloha-plugins = 'common/ui, common/format, common/list, common/link, common/highlighteditables, common/image' )
%link(href = 'http://cdn.aloha-editor.org/latest/css/aloha.css' rel = 'stylesheet' type = 'text/css')

:javascript
  Aloha.ready( function() {
    var $ = Aloha.jQuery;
    $('.editable').aloha();
  });

.row
  .span3
    - render_partial( 'extras/sidenav' )
  
  .span9
    - render_partial( 'extras/breadcrumb' )
    - render_partial( 'posts/page' )
    
    .aloha-edit
    
      %h3 Aloha Editor will be used here
      
      .editable some default content
      