- $s = get_search_query()

.row
  .span9
    - render_partial('extras/breadcrumb')
    %h2 Search Results for "#{$s}"
    
    .results    
      - if ( have_posts() )
        - while( have_posts() )
          %hr
          - the_post()
          
          - $title = get_the_title()
          - $keys = explode( " ", $s )
          - $title = preg_replace( '/('.implode('|', $keys) .')/iu', '<strong class="search-excerpt">\0</strong>', $title)

          .post
            %header
              %h4= link_to( $title, get_permalink() )
                
                - if ( get_post_type() == 'post' )
                  %span #{'&raquo;'} Blog Post
                - else if ( get_post_type() == 'page' )
                  %span #{'&raquo;'} Site Page
                  
              %p= get_the_date()
            .content= get_the_excerpt()
            
      - else
        %p Sorry, but nothing matched your search criteria, you may want to try a suggested search or a new search.

    
  .span3
    %h3 Common Searches
    %ul
      %li= link_to( 'Clubs Office Booking', '/?s=clubs+office+booking' )
      %li= link_to( 'Contact Us', '/?s=contact+us' )
    
    %h3 Related Searches
    %p
      We are currently working on implementing
      related searches...