.row
  .span12.snowball
    %header
      .garnish
      = image_tag( 'snow_ball/text.png', array( 'class' => 'text' ) )
      
    .column
      - render_partial( 'posts/page' )
      
    %footer
      .garnish.left
      .garnish.right