.row
  .span12
    %ul.thumbnails
      - if (get_field('the_store'))
        - while (the_repeater_field('the_store'))
          %li.span3
            .thumnail
              - if (get_sub_field('images'))
                - $imgs = get_sub_field('images')
                - foreach($imgs as $key=>$img)
                  %div(class = "#{($key) ? 'hide' : 'first' }")
                    - $rel = str_replace( ' ', '_', get_sub_field('product_name'))
                    %a.fancybox(href = "#{$image['sizes']['big']}" rel = "#{$rel}")
                      - if ($key)
                        .image
                          = image_tag( $image['sizes']['small'], array('class' => 'img-polaroid'))
                          .banner Click to expand

              .info
                %strong Price:
                %span= get_sub_field('price')
