/*
 * We need some nice functional mixins
 * so we're gonna go ahead and add compass
 */
 


/*
 * Our favourite style library ever
 * and some functions we might need
 */
 
@import 'bootstrap'
@import 'responsive'

@import 'jquery_ui'

/*
 * Defining the breakpoint for responsive layout
 * use these mixins inside the main tree and the @media call will bubble up
 */

=phone
  @media (max-width: 480px)
    @content

=portrait
  @media (max-width: 767px)
    @content
    
=landscape
  @media (min-width: 768px) and (max-width: 979px)
    @content
    
=desktop
  @media (min-width: 1200px)
    @content


.responsive-header
  h3
    font-size: 20px
    +landscape
      font-size: 18px
    +desktop
      font-size: 24px
    

.site-wrapper
  margin-top: 60px
  +phone
    margin-top: 0
  +portrait
    margin-top: 0
  +landscape
    margin-top: 0
  

  .site-header-content
  
    header.site-header
      nav
        form
          input
            width : 80px
            +desktop
              width: 210px
    
    section.site-content
      .thumbnail
        ul
          margin-left: 0
          li
            display: none
            &.first
              display: block
    
  footer.site-footer