.row
  .span3
    - render_partial( 'layouts/left' )

  .span9.white
    .top.frames
      = image_tag('5days/5-Days-Website-top.jpg')

    .middle.content
      - render_partial( 'posts/page' )
      - if ( get_field( 'hiring_enabled' ) ) 
        - render_partial( 'extras/job_board' )

    .bottom.frames
      = image_tag('5days/5-Days-Website-bottom.jpg')

- if ( get_field( 'hiring_enabled' ) ) 
  .row.app
    .span9.offset3
      - render_partial('extras/application_form')