.main
  .container
    .row.transparent
      .span4.top
        %legend= link_to( '@LaurierSBESS', 'https://twitter.com/LaurierSBESS' )
        #jstwitter
            
      .span5.middle
        .social
          %ul
            %li
              %a(href = 'https://twitter.com/LaurierSBESS' target = '_blank')
                = image_tag( 'white/twitter-white.png' )
            %li
              %a(href = 'http://www.facebook.com/LaurierSBESS' target = '_blank')
                = image_tag( 'white/facebook-white.png' )
            %li
              %a(href = 'http://www.youtube.com/user/sbesslaurier' target = '_blank')
                = image_tag( 'white/youtube-white.png' )
        
        %p.plug
          Developed by
          = link_to( 'dInteractive', 'http://dinteractive.ca' )
          
      .span3.bottom
        - render_partial( 'extras/contact_form' )

- wp_footer()

= javascript_include_tag( "library/twitter.js" )

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4913728-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();