%meta(http-equiv = "Content-type" content = "text/html;charset=UTF-8")
%meta(name = 'viewport' content = 'width=device-width, initial-scale=1.0')

%title
  = bloginfo('name')
  - wp_title()

= render_partial("layouts/ie_vars")

:javascript
  var THEMEPATH = '#{get_template_directory_uri()}';
  var MOBILE = !!'#{ifmobile::mobile()}';

= stylesheet_link_tag("screen")
= javascript_include_tag("modernizr")
= javascript_include_tag("loader")

- wp_head()

