.container.top
  .row
    .span6.offset3.transparent
      %a(href = '/')
        = image_tag( 'SBESSLogo2012.png', array( 'class' => 'logo' ) )
    .span3.transparent.anchor-bottom
      %ul
        %li
          %a(href = 'https://twitter.com/LaurierSBESS' target = '_blank')
            = image_tag( 'twitter.png' )
        %li
          %a(href = 'http://www.facebook.com/LaurierSBESS' target = '_blank')
            = image_tag( 'facebook.png' )
        %li
          %a(href = 'http://www.youtube.com/user/sbesslaurier' target = '_blank')
            = image_tag( 'youtube.png' )
            
%nav
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
      
        %a.btn.btn-navbar(data-toggle = 'collapse' data-target = '.nav-collapse')
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          
        .hidden-desktop
          - render_partial( 'extras/searchform' )
        
        - $args['theme_location'] = 'header-menu'
        - $args['container'] = false
        - $args['menu_class'] = 'nav'
        - $args['depth'] = 1
        - $args['walker'] = new Bootstrap_Walker()
        
        // the wp_nav_menu function has been modified
        // to append 'active' class to the current page
        // menu item to function with bootstrap
        
        .nav-collapse.collapse

          - wp_nav_menu( $args )
          %ul.nav.pull-right
            %li.divider-vertical
            %li.mobile
              - if ( is_user_logged_in() )
                =link_to( boot_icon( 'icon-user' ), '/wp-admin', array( 'id' => 'login' ) )
              - else
                =link_to( boot_icon( 'icon-th-list' ), '/wp-login.php', array( 'id' => 'login' ) )
            - if ( is_user_logged_in() )    
              =link_to( boot_icon( 'icon-user' ), '/wp-admin', array( 'class' => 'btn btn-small not-mobile pull-right', 'id' => 'login' ) )
            - else
              =link_to( boot_icon( 'icon-th-list' ), '/wp-login.php', array( 'class' => 'btn btn-small not-mobile pull-right', 'id' => 'login' ) )
        
        .visible-desktop
          - render_partial( 'extras/searchform' )