/ [if lt IE 7]
	%html(class = "ie lt-ie9 lt-ie8 lt-ie7 #{ifmobile::test()}" lang="en")
/ [if IE 7]
	%html(class = "ie lt-ie9 lt-ie8 ie7 #{ifmobile::test()}" lang="en")
/ [if IE 8]
	%html(class = "ie lt-ie9 ie8 #{ifmobile::test()}" lang="en")
/ [if IE 9]
	%html(class = "ie ie9 #{ifmobile::test()}" lang="en")