- if ( WP_DEBUG )
  - global $wp_query
  - global $wpdb
  - fb( $wp_query )
  - fb( $wpdb )
  - fb( $_POST )

- if ( get_field( 'redirect') )
  - header( "Location:" . get_field( 'redirect' ) )
  - exit

- if ( $_POST )
  - render_partial( 'pre/head' )
- else
  !!! 5
  - if ( ifie::_boole() )
    = render_partial( 'layouts/ie_html' )
  %html(class = "#{ifmobile::test()}" lang="en")
    %head= render_partial( 'layouts/head' )
    %body(class = "#{join( ' ', get_body_class() )}" )
      .site-wrapper
        .site-header-content
          %header.site-header= render_partial( 'layouts/header' )
          %section.site-content
            .container= yield()
          .footer-root
        %footer.site-footer
          = render_partial( 'layouts/footer' )
        - render_partial( 'extras/modal' )
        .hide#forms
          .login-form= render_partial( 'extras/loginform' )
          .ie-warning= render_partial( 'extras/ie_warning' )