- if ( get_field( 'jobs' ) )    
  .application
    %h3 Application Form
    %form.form-horizontal(method = 'POST' enctype = 'multipart/form-data')
      .control-group
        %label.control-label(for = 'firstName') First Name
        .controls
          %input#firstName(type = 'text' placeholder = 'john' name = 'first_name')
          
      .control-group
        %label.control-label(for = 'lastName') Last Name
        .controls
          %input#lastName(type = 'text' placeholder = 'smith' name = 'last_name')
          
      .control-group
        %label.control-label(for = 'program') Program
        .controls
          %input#program(type = 'text' placeholder = 'business' name = 'program')
          
      .control-group
        %label.control-label(for = 'year') Year
        .controls
          %select.span1#year(name = 'school_year')
            %option(disabled = 'disabled' checked = 'checked') Select Your Year
            - for ($i = 1; $i <=5; $i++ )
              %option(value = "#{$i}")= $i
              
      .control-group
        %label.control-label Co-op Option
        .controls
          %label.radio.inline
            %input#yes(type = 'radio' name = 'coop' value = 'true') Yes
          %label.radio.inline
            %input#no(type = 'radio' name = 'coop' value = 'false' checked = 'checked') No
            
      .control-group
        %label.control-label(for = 'program') Email
        .controls
          .input-append
            %input.input-small#email(type = 'text' placeholder = 'smit1234' name = 'mylaurier' maxlength = '8')
            %span.add-on= '@mylaurier.ca'
            
      .control-group
        %label.control-label(for = 'resume') Resume Upload
        .controls
          .alert.alert-error.hide
            FILE MUST BE A PDF
          %input#program(type = 'file' name = 'resume_file')
          .alert.alert-block
            %h4 Heads Up!
            Must be in .pdf format, other formats ( like .doc or .docx ) will not work. Please name the file something meaningful like Your-Name_Resume.pdf and avoid generic names such resume.pdf. The maximum file size is 1.0 MB.    
            
      .control-group
        %label.control-label Job Picks
        .controls
          .alert.alert-error.hide You must select at least 1 job
          .alert 
            Select three jobs in the order you are most interested in appliying for. You can leave some blank if you are only interested in 1 or 2 positions.
          - for ($i = 1; $i <= 3; $i++)
            %label= "Job $i"
            %select(name = "job#{$i}")
              %option(value = '' checked = 'checked')
              - while ( the_repeater_field( 'jobs' ) )
                - $title = get_sub_field( 'job_title' )
                %option(value = "#{$title}")= $title 
            
      .question
        - if (get_field('q1'))
          .control-group
            %label.control-label(for = 'q1') Question 1
            .controls
              .full-width
                %label(for = 'q1') 
                  = get_field('q1')
                %textarea#q1(rows = '5' name = 'q1')
        
        - if (get_field('q2'))  
          .control-group
            %label.control-label(for = 'q2') Question 2
            .controls
              .full-width
                %label(for = 'q2')
                  = get_field('q2')
                %textarea#q2(rows = '5' name = 'q2')
          
        - if (get_field('q3'))
          .control-group
            %label.control-label(for = 'q3') Question 3
            .controls
              .full-width
                %label(for = 'q3')
                  = get_field('q3')
                %textarea#q2(rows = '5' name = 'q3')
        
        - if (get_field('q4'))
          .control-group
            %label.control-label(for = 'q4') Question 4
            .controls
              .full-width
                %label(for = 'q4')
                  = get_field('q4')
                %textarea#q4(rows = '5' name = 'q4') 
              
        .controls
          .alert.alert-error.hide#error
          .alert.alert-success.hide#success
            Your application has been submitted and will be reviewed shortly. Thank you for applying.
            
          %button.btn.btn-primary(type = 'submit' autocomplete = 'off') Submit Application
          // %button.btn(type = 'clear') Clear Form
          .alert.alert-error.hide#message
            Looks like there's an error in the application, you'll have to fix that before we can accept the form.
        
      %input(type = 'hidden' name = '_target' value = 'application_form')
      %input(type = 'hidden' name = 'round' value = "#{get_field('hiring_round')}")
        
- else                
  .empty
    %p
      There currently aren't any jobs available, check back soon for opportunities available in SBE!