- if ( !get_field( 'banner_deactivate' ) )
  .banner
    - if ( get_field( 'the_banner' ) )
      - $first = true
      .carousel.slide#theCarousel
        .carousel-inner
          - while ( the_repeater_field( 'the_banner' ) )
            - $class = $first ? 'active item' : 'item'
            - if ( $first )
              - $first = false
            %div(class = "#{$class}")
              - $image = get_sub_field( 'banner_image' )
              - if ( get_sub_field( 'banner_link' ) )
                %a(href = "#{get_sub_field( 'banner_link' )}")
                  = image_tag( $image['sizes']['banner'] )
              - else
                = image_tag( $image['sizes']['banner'] )
            
        %a.carousel-control.left(href = '#theCarousel' data-slide = 'prev')= '&lsaquo;'
        %a.carousel-control.right(href = '#theCarousel' data-slide = 'next')= '&rsaquo;'
        
    :javascript
      if ( !"#{get_field( 'banner_deactivate' )}" ) {
        window.carousel_interval = parseInt( "#{get_field('banner_interval')}" )
      }