.modal.hide.fade#theModal
  .modal-header
    %button.close(data-dismiss = 'modal' type = 'button')= '&times;'
    %h3 Modal Header
  .modal-body
    %p Default Modal Element
  .modal-footer
    %a.btn(data-dismiss = 'modal' href = '#') Close
    %a.btn.btn-primary#save(href = '#') Save Changes