- $show_breadcrumb = false

- if ( is_search() )
  - if ( !get_field( 'breadcrumb', 'option') )
    - $show_breadcrumb = true

- else
  - if ( !get_field('breadcrumb') )
    - $show_breadcrumb = true

- if ( $show_breadcrumb )
  - if ( function_exists('bcn_display') )
    .breadcrumb= bcn_display()
    
  