.contact
  %form(method = 'POST' enctype = 'multipart/form-data')
    %input(type = 'hidden' name = '_target' value = 'contact_form')
    
    %legend Contact Us  
    
    .control-group
      %label Name
      %input.span3(type = 'text' placeholder = 'Harvey Specter' name = 'full_name' autocomplete = 'false')
    
    .control-group
      %label Email
      .input-append
        %input.input-mini(type = 'text' placeholder = 'spec8420' name = 'mylaurier' autocomplete = 'false' size = '8')
        %span.add-on= '@mylaurier.ca'
      = link_to( "I'm not a student here", get_permalink( 106 ), array( 'class' => 'subtle' ) )
    
    .control-group    
      %label Message
      %textarea(placeholder = 'You guys are awesome, keep it up!' rows = '3' name = 'message_body' autocomplete = 'false')
      %button.btn.btn-tall.btn-primary(type = 'submit') Send
  .alert.alert-success.hide#message
    Your message has been successfuly resceived. We'll be getting back to you as soon as we can.
      