%ul
  - $photos = get_field('partners_logos')
  - if ( $photos )
    - foreach( $photos as $photo )
      %li
        %a(href = "#{$photo['alt']}")
          %img(src = "#{$photo['sizes']['thumbnail']}")
  