- if ( !get_field( 'hero_deactivate') )
  .hero-unit
    %h1= get_field( 'hero_heading' )
    %p= get_field( 'hero_tagline' )
    %p
      - $args['class'] = 'btn btn-primary btn-large'
      = link_to( get_field( 'hero_btn_label' ), get_field( 'hero_link' ), $args )