%p
  Whoa there, it looks like you're trying to use Internet Explorer to browse the internet. Our SBESS website is still brand new and isn't fully compatible with IE ( it may never be ) We recommend you switch to a better browser ( like Google Chrome ) ASAP, it you can't switch please consider installing chrome frame to make IE a better browser.
  
%label
  %input(type = 'checkbox' name = 'stop')
  I like IE, stop bothering me