- if ( get_field( 'jobs' ) )
  .jobs
    - while ( the_repeater_field( 'jobs' ) )
      - $title = get_sub_field( 'job_title' )
      %hr
      .job(id = "#{str_replace( ' ', '-', $title )}")
        %dl.dl-horizontal
          %dt Job title
          %dd= $title
          
          .more
              
            %dt Description
            %dd= get_sub_field( 'job_description' )
              
            - $fields = array()
            - $fields[] = array( 'job_requirements', 'Requirements' )
            - $fields[] = array( 'job_time',         'Commitment' )
            - $fields[] = array( 'job_coop',         'Co-op Friendly' )
            - $fields[] = array( 'job_deadline',     'Deadline' )
            - $fields[] = array( 'job_club',         'Organization' )
            - $fields[] = array( 'job_term',         'Length of Term' )
            - $fields[] = array( 'job_interview',    'Interview Period' )
            - $fields[] = array( 'job_contact',      'Job Contact' )
            - $fields[] = array( 'job_start',        'Start Date' )  
            - $fields[] = array( 'job_end',          'End Date' )  
            - $fields[] = array( 'job_execlevel',    'Executive Level' )
            - $fields[] = array( 'job_instructions', 'Directions' )  
            
            
            - foreach( $fields as $field )
              - if ( get_sub_field( $field[0] ) )
                %dt= $field[1]
                - if ( $field[0] == 'job_deadline' )
                  - $date = DateTime::createFromFormat( 'Ymd', get_sub_field( $field[0] ) )
                  %dd= $date->format('F jS, Y') . ' at 11PM'
                - else 
                  %dd= get_sub_field( $field[0] )