%form.form-horizontal
  .control-group
    %label.control-label(for = 'username') Username
    .controls
      %input#username(type = 'text' placeholder = 'Username' name = 'u')
  
  .control-group
    %label.control-label(for = 'password') Password
    .controls
      %input#password(type = 'password' placeholder = 'Password' name = 'p')