- render_partial( 'extras/breadcrumb' )
  
// Displays the welcome message from the home page

.welcome
  %h3 Welcome Message
  - render_partial('posts/page')
  
// Displays the blogs posts from the presidents blog

- $posts_on_page = intval( get_field('number_of_posts') )

.blog
  %h3 President's Blog
    %small= link_to( 'see the archives &raquo;', '/category/president-blog/' )
  
  - global $post
  - $the_posts = get_posts( array( 'numberposts' => $posts_on_page, 'category' => get_category_id('President Blog' ) ) )
  
  - foreach ( $the_posts as $post )
    - setup_postdata( $post )
    - render_partial('posts/post')