%h3 Coporate Partners
  %p
    Our corporate partners are the very best,
    check out the
    = link_to( 'CPP Page', get_permalink(128) )
    for more information about the program
  
  %ul.thumbnails
    - $photos = get_field('partners_logos', 128)
      - if ( $photos )
        - foreach( $photos as $photo )
          %li.span1
            %a.thumbnail(href = "#{$photo['alt']}")
              %img(src = "#{$photo['sizes']['tiny']}")