.sbeweekly
  .responsive-header
    %h3= link_to( get_cat_name( 5 ) . ' &raquo;', get_category_link( 5 ) )

  - global $post
  - $the_posts = get_posts( array( 'numberposts' => 1, 'category' => 5 ) )
  
  - foreach ( $the_posts as $post )
    - setup_postdata( $post )
    - render_partial('posts/excerpt')