- global $post

.sidenav
  - if ( !$post->post_parent )
    - $args['depth'] = 2
    - $args['child_of'] = $post->ID
    - $args['title_li'] = ''
    - $arge['include'] = $post->ID
    
    %ul.nav.nav-list
      %li.nav-header Navigation
      %li.active= link_to( wp_title('', false), get_permalink( $post->ID ) )
      %li.divider
      - $children = wp_list_pages( $args )
      - if ( $children )
        = $children
          
  - else
    - $args['depth'] = 2
    - $args['child_of'] = end($post->ancestors)
    - $args['title_li'] = ''

    %ul.nav.nav-list
      %li.nav-header Navigation
      %li= link_to( get_the_title( end($post->ancestors) ), get_permalink( end($post->ancestors) ) )
      %li.divider
      - $children = wp_list_pages( $args )
      - if ( $children )
        = $children