.row
  .span6.offset3
  
    - $category = get_the_category()
     
    %h1= $category[0] -> name
    - the_post()
    = render_partial("posts/post")
    
.row
  .span6.offset3
    .comments
      



