.row
  .span3
    - render_partial('extras/sidenav')
    %ul.nav.nav-list.clubs
      %li.nav-header List of Clubs
      - if ( get_field( 'clubs_list' ) )
        - while( the_repeater_field( 'clubs_list' ) )
          %li= link_to( get_sub_field( 'club_name' ), '#' . str_replace( ' ', '-', get_sub_field( 'club_name' ) ) ) 
    
  .span9
    - render_partial( 'extras/breadcrumb' )
    .static-content
      .alert.alert-info= render_partial( 'posts/page' )
    
    .clubs
      - $first = true
      - if ( get_field( 'clubs_list' ) )
        - while( the_repeater_field( 'clubs_list' ) )
          - if ( $first ) 
            - $first = false
          - else
            %hr
          .club(id = "#{str_replace( ' ', '-', get_sub_field( 'club_name' ) )}")
            %dl.dl-horizontal
              - if ( get_sub_field( 'club_logo' ) )
                %dt
                %dd.logo= wp_get_attachment_image( get_sub_field( 'club_logo' ), 'small')
              %dt Name
              %dd= get_sub_field( 'club_name' )
              - if ( get_sub_field( 'club_email' ) )
                %dt Email
                - $message = 'SBESS - ' . get_sub_field( 'club_name' ) . ' inquiry'
                %dd= link_to( get_sub_field( 'club_email' ), mailto( get_sub_field( 'club_email' ), $message )  )
              - if ( get_sub_field( 'website_url' ) )
                %dt Website
                %dd= link_to( get_sub_field( 'website_url' ), get_sub_field( 'website_url' ) )
              - if ( get_sub_field( 'short_club_description' ) )
                %dt Description
                %dd= get_sub_field( 'short_club_description' )